{% comment %}
	Renders an article card for a given blog with settings to either show the image or not.

	Accepts:
	- blog: {Object} Blog object
	- article: {Object} Article object
	- show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
	- show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
	- show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default

	Usage:
{% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

<article class="article-card" aria-labelledby="Article-{{ article.id }}">
	{%- if show_image == true and article.image != blank-%}
		<div class="article-card__image-wrapper">
			<div class="article-card__image media">
				{% capture sizes %}
					(min-width: 990px) 940px, (min-width: 750px) calc((100vw - 40px) / 2), calc((100vw - 40px))
				{% endcapture %}
				{{ 
					article.image | image_url: width: 1066 | image_tag:
					loading: 'lazy',
					sizes: sizes,
					widths: '165, 360, 535, 720, 940, 1066'
				}}
			</div>
		</div>
	{%- endif -%}
	<div class="article-content motion-reduce">
		<div class="article-card__info">
			<header class="article-card__header">
				<div class="article-card__meta">
					{%- if show_date -%}
						<span class="article-card__date card__subtitle">
            	{{- article.published_at | time_tag: format: "abbreviated_date" -}}
          	</span>
					{%- endif -%}
					{%- if show_tags and article.tags != blank -%}
						<ul class="article-card__tags">
							{% for tag in article.tags %}
								<li class="article-card__tag card__subtitle">
									<a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="card__subtitle">
										<span title="{{ tag }}">{{ tag }}{%- if forloop.last == false -%} , {%- endif -%}</span>
									</a>
								</li>
							{% endfor %}
						</ul>
					{%- endif -%}
				</div>
				<h2 class="article-card__title h5" id="Article-{{ article.id }}">
					<a href="{{ article.url }}">
						{{ article.title | escape }}
					</a>
				</h2>
				{%- if show_excerpt and article.excerpt_or_content.size > 0 -%}
					<p class="article-card__excerpt {% if template == 'search' %} article-card__excerpt_small {% endif %}">
							{{ article.excerpt_or_content | strip_html | truncate: 150 }}
					</p>
				{%- endif -%}
				<div class="article-card__meta article-card__meta_bottom">
					{%- if show_author -%}
						<span class="article-card__author card__subtitle">{{- 'general.blog.author' | t }}<span>{{- article.author -}}</span></span>
					{%- endif -%}

					{%- if article.comments_count > 0 and blog.comments_enabled? -%}
						<span class="article-card__comments card__subtitle">{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
					{%- endif -%}
				</div>
			</header>
		</div>
	</div>
	<a class="article-card-link" href="{{ article.url }}" aria-label="{{ 'accessibility.article_link' | t }}"></a>
</article>

