{%- if section.settings.menu != blank -%}
  {% render 'header-drawer' %}
{%- endif -%}

<nav class="header__inline-menu">
  {%- if section.settings.menu != blank -%}
    <ul class="list-menu list-menu--inline" role="list">
      {%- for link in section.settings.menu.links -%}
        {% liquid
          assign mega_menu = false
          assign mega_menu_list = false
          assign mega_menu_blocks = false
        %}
        {%- if link.links != blank -%}
          {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
              {% liquid
                assign mega_menu_trigger = block.settings.mega_menu_trigger | handle | strip
                assign mega_menu_list_trigger = block.settings.mega_menu_list_trigger | handle | strip
                assign mega_menu_blocks_trigger = block.settings.mega_menu_blocks_trigger | handle | strip

                if link.handle == mega_menu_trigger
                  assign mega_menu = true
                  assign mega_menu_list = false
                  assign mega_menu_blocks = false
                  assign shopify_attributes = block.shopify_attributes
                elsif link.handle == mega_menu_list_trigger
                  assign mega_menu_list = true
                  assign mega_menu = false
                  assign mega_menu_blocks = false
                  assign shopify_attributes = block.shopify_attributes
                elsif link.handle == mega_menu_blocks_trigger
                  assign mega_menu_blocks = true
                  assign mega_menu_list = false
                  assign mega_menu = false
                  assign shopify_attributes = block.shopify_attributes
                endif
              %}
            {% endfor %}
          {% endif %}
          <li
            class="list-menu-item {% if mega_menu or mega_menu_blocks or mega_menu_list %}list-menu--megamenu {% else %}list-menu--submenu{% endif %}"
            {{ shopify_attributes }}
          >
            <a
              href="{{ link.url }}"
              class="header__menu-item list-menu__item link focus-inset {%- if link.active %} header__active-menu-item{% endif %}"
              {% if link.current %}
                aria-current="page"
              {% endif %}
              aria-label="{{ link.title | escape }}"
            >
              <span title="{{ link.title | escape }}">
                {{ link.title | escape }}
              </span>
            </a>
            {% if mega_menu %}
              <div class="header__mega-menu mega-menu mega-menu--columns color-background-1">
								<div class="mega-menu__inner container">
									{% render 'mega-menu-columns', link: link, blocks: section.blocks %}
								</div>
              </div>
            {% elsif mega_menu_list %}
              <div class="header__mega-menu mega-menu mega-menu--list color-background-1">
								<div class="mega-menu__inner container">
									{% render 'mega-menu-list', link: link, blocks: section.blocks %}
								</div>
              </div>
            {% elsif mega_menu_blocks %}
              <div class="header__mega-menu mega-menu mega-menu--blocks color-background-1">
								<div class="mega-menu__inner container">
									{% render 'mega-menu-blocks', link: link, blocks: section.blocks %}
								</div>
              </div>
            {% else %}
              {% render 'submenu', link: link %}
            {% endif %}
          </li>
        {%- else -%}
          <li class="list-menu-item">
            <a
              href="{{ link.url }}"
              class="header__menu-item list-menu__item link focus-inset {%- if link.active %} header__active-menu-item{% endif %}"
              {% if link.current %}
                aria-current="page"
              {% endif %}
              aria-label="{{ link.title | escape }}"
            >
              <span title="{{ link.title | escape }}">
                {{ link.title | escape }}
              </span>
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}
</nav>

{% render 'header-logo', tag: 'h1' %}

<div class="header__column">
  {% if section.settings.small_menu != blank %}
    <ul class="header__small-menu small-menu list-unstyled" role="list">
      {%- for link in section.settings.small_menu.links limit: 3 -%}
        <li class="small-menu__item">
          {%- if link != blank -%}
            <a
              href="{{ link.url }}"
              class="small-menu__link link link--text focus-inset caption-large {%- if link.active %} small-menu__link--active{% endif %}"
              {% if link.current %}
                aria-current="page"
              {% endif %}
            >
              <span>
                {{ link.title | escape }}
              </span>
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="header__icons">
    {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
      <div class="header__localization">
        <noscript>
          {%- form 'localization', id: 'HeaderCountryFormNoScript', class: 'localization-form' -%}
            <div class="localization-form__select">
              <select
                class="localization-selector link"
                name="country_code"
                aria-labelledby="FooterCountryLabelNoScript"
              >
                {%- for country in localization.available_countries -%}
                  <option
                    value="{{ country.iso_code }}"
                    {%- if country.iso_code == localization.country.iso_code %}
                      selected
                    {% endif %}
                  >
                    {{ country.name }} ({{ country.currency.iso_code }}
                    {{ country.currency.symbol }})
                  </option>
                {%- endfor -%}
              </select>
              {% render 'icon-caret' %}
            </div>
            <button class="button button--small focus-inset">{{ 'localization.update_country' | t }}</button>
          {%- endform -%}
        </noscript>
        <localization-form>
          {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
            <div class="no-js-hidden">
              <div class="disclosure">
                <button
                  type="button"
                  class="header__localization-button disclosure__button localization-form__select localization-selector link link--text caption-large focus-inset"
                  aria-expanded="false"
                  aria-controls="HeaderCountryList"
                  aria-describedby="HeaderCountryLabel"
                >
                  <span class="currency-country">
                    {{- localization.country.currency.iso_code }}
                    {{ localization.country.currency.symbol -}}
                  </span>
                  {% render 'icon-caret' %}
                </button>
                <ul id="HeaderCountryList" role="list" class="disclosure__list list-unstyled color-background-1" hidden>
                  {%- for country in localization.available_countries -%}
                    <li class="disclosure__item" tabindex="-1">
                      <a
                        class="link link--text disclosure__link disclosure__link--flag caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset"
                        href="#"
                        {% if country.iso_code == localization.country.iso_code %}
                          aria-current="true"
                        {% endif %}
                        data-value="{{ country.iso_code }}"
                        data-flag="{{ country.currency.iso_code }}"
                      >
                        <span>
                          {{ country.name }}
                          <span class="localization-form__currency"
                            >({{ country.currency.iso_code }}
                            {{ country.currency.symbol }})</span
                          >
                        </span>
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
              <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
            </div>
          {%- endform -%}
        </localization-form>
      </div>
    {%- endif -%}

    {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
      <div class="header__localization header__localization--language">
        <noscript>
          {%- form 'localization', id: 'HeaderLanguageFormNoScript', class: 'localization-form' -%}
            <div class="localization-form__select">
              <h2
                class="visually-hidden"
                id="HeaderLanguageLabelNoScript"
              >
                {{ 'localization.language_label' | t }}
              </h2>
              <select
                class="localization-selector link"
                name="locale_code"
                aria-labelledby="HeaderLanguageLabelNoScript"
              >
                {%- for language in localization.available_languages -%}
                  <option
                    value="{{ language.iso_code }}"
                    lang="{{ language.iso_code }}"
                    {%- if language.iso_code == localization.language.iso_code %}
                      selected
                    {% endif %}
                  >
                    {{ language.endonym_name | capitalize }}
                  </option>
                {%- endfor -%}
              </select>
              {% render 'icon-caret' %}
            </div>
            <button class="button button--primary">
              {{ 'localization.update_language' | t }}
            </button>
          {%- endform -%}
        </noscript>
        <localization-form>
          {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
            <div class="no-js-hidden">
              <div class="disclosure">
                <button
                  type="button"
                  class="disclosure__button localization-form__select localization-selector link link--text focus-inset"
                  aria-expanded="false"
                  aria-controls="HeaderLanguageList"
                  aria-describedby="HeaderLanguageLabel"
                >
                  <span class="value">
                    {{- localization.language.iso_code | upcase }}
                  </span>
                  {% render 'icon-caret' -%}
                </button>
                <ul
                  id="HeaderLanguageList"
                  role="list"
                  class="disclosure__list list-unstyled color-background-1"
                  hidden
                >
                  {%- for language in localization.available_languages -%}
                    <li class="disclosure__item" tabindex="-1">
                      <a
                        class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset"
                        href="#"
                        hreflang="{{ language.iso_code }}"
                        lang="{{ language.iso_code }}"
                        {% if language.iso_code == localization.language.iso_code %}
                          aria-current="true"
                        {% endif %}
                        data-value="{{ language.iso_code }}"
                      >
                        <span>
                          {{ language.endonym_name | capitalize }}
                        </span>
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
              <input
                type="hidden"
                name="locale_code"
                value="{{ localization.language.iso_code }}"
              >
            </div>
          {%- endform -%}
        </localization-form>
      </div>
    {%- endif -%}
    {% render 'color-scheme' %}

    {%- if section.settings.enable_search -%}
      <details-modal class="header__search">
        <details>
          <summary
            class="header__icon header__icon--search link--text  header__icon--summary focus-inset modal__toggle"
            aria-haspopup="dialog"
            role="button"
          >
            {% render 'icon-search' %}
          </summary>
          <div
            class="header__search-inner search color-background-1"
            role="dialog"
            aria-modal="true"
            aria-label="{{ 'general.search.search' | t }}"
          >
            <div class="search__content">
              <div class="search__header">
                <div class="container search__header-wrapper">
                  {% render 'header-logo', tag: 'h2' %}
                  <button
                    type="button"
                    class="search-modal__close-button modal__close-button link link--text focus-inset modal-close-button"
                    aria-label="{{ 'accessibility.close' | t }}"
                  >
                    {% render 'icon-close' %}
                  </button>
                </div>
              </div>
              <div class="search__main">
                {%- if settings.predictive_search_enabled -%}
                  <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                {%- endif -%}
                <div class="container">
                  <form action="{{ routes.search_url }}" method="get" role="search" class="search search__form">
                    <div class="field">
                      <input
                        class="search__input field__input"
                        id="Search-In-Modal-1"
                        type="search"
                        name="q"
                        value="{{ search.terms | escape }}"
                        placeholder="{{ 'general.search.placeholder' | t }}"
                        {%- if settings.predictive_search_enabled -%}
                          role="combobox"
                          aria-expanded="false"
                          aria-owns="predictive-search-results-list"
                          aria-controls="predictive-search-results-list"
                          aria-haspopup="listbox"
                          aria-autocomplete="list"
                          autocorrect="off"
                          autocomplete="off"
                          autocapitalize="off"
                          spellcheck="false"
                        {%- endif -%}
                      >
                      <label class="visually-hidden" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                      <input type="hidden" name="options[prefix]" value="last">
                      <button
                        class="search__button button button--primary field__button focus-inset"
                        aria-label="{{ 'general.search.search' | t }}"
                      >
                        {{ 'general.search.search' | t }}
                      </button>
                    </div>

                    {%- if settings.predictive_search_enabled -%}
                      <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                        <div class="predictive-search__loading-state">
                          {% render 'icon-spinner' %}
                        </div>
                      </div>

                      <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                    {%- endif -%}
                  </form>
                </div>
                {%- if settings.predictive_search_enabled -%}
                  </predictive-search>
                {%- endif -%}
                {% if section.settings.show_search_promo %}
                  {% render 'search-modal' %}
                {%- endif -%}
              </div>
            </div>
          </div>
        </details>
      </details-modal>
    {%- endif -%}
    {%- if shop.customer_accounts_enabled -%}
      <details-disclosure class="header__account">
        <details>
          <summary
            class="header__icon header__icon--account link--text  header__icon--summary focus-inset modal__toggle"
            aria-haspopup="dialog"
            role="button"
          >
            {% render 'icon-account' %}
          </summary>
          <div class="header__account-modal modal__toggle color-background-1" role="dialog" aria-modal="true">
            {%- if customer -%}
              <div class="header__account__account">
                <div class="header__account__name">{{ customer.name }}</div>
                <ul class="header__account__body">
                  <li class="header__account__link">
                    <a href="{{ routes.account_url }}">
                      {{ 'customer.account_fallback' | t }}
                    </a>
                  </li>
                  <li class="header__account__address">
                    <a href="{{ routes.account_addresses_url }}">{{ 'customer.addresses.book' | t }}</a>
                  </li>
                </ul>
                <a
                  class="header__account__logout button button--primary focus-inset"
                  href="{{ routes.account_logout_url }}"
                >
                  {{ 'customer.log_out' | t }}
                </a>
              </div>

            {%- else -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="button button--primary header__account__login link  focus-inset"
              >
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>

              <a class="header__account__register link button button--simple" href="{{ routes.account_register_url }}"
                ><span>{{ 'customer.login_page.create_account' | t }}</span></a
              >
            {%- endif -%}
          </div>
        </details>
      </details-disclosure>
    {%- endif -%}

    <div class="{% if request.page_type != 'cart' %}header__cart {% else %} header__cart--page{% endif %}">
      <a
        href="{{ routes.cart_url }}"
        class=" header__icon header__icon--cart link link--text focus-inset"
        id="cart-icon-bubble"
      >
        {% render 'icon-cart' %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        <div class="cart-count-bubble">
          {%- if cart.item_count < 100 -%}
            <span aria-hidden="true">{{ cart.item_count }}</span>
          {%- endif -%}
          <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
        </div>
      </a>
    </div>
  </div>
</div>
