{% comment %}
		Renders a horizontal product card
		Accepts:
		- product_card_product: {Object} Product Liquid object (optional)
		- media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
		- show_vendor: {Boolean} Show the product vendor. Default: true
		Usage:
	{% render 'product-card-horizontal',
		product_card_product: product,
		show_vendor: true
	%}
{% endcomment %}

<div class="card-horizontal-wrapper js-color-swatches-wrapper color-{{ settings.card_color_scheme }}" data-product="{{ product_card_product.handle }}">
	<span class="visually-hidden">{{ product_card_product.title | escape }}</span>

	<div class="card-horizontal__image" tabindex="-1">
		{%- liquid
			assign featured_media_aspect_ratio = product_card_product.featured_media.aspect_ratio

			if product_card_product.featured_media.aspect_ratio == nil
				assign featured_media_aspect_ratio = 1
			endif -%}

		<div class="media"
			{%- if media_size == 'landscape' -%}
				style="padding-bottom: 70%;"
			{%- endif -%}
			{%- if media_size == 'portrait' -%}
				style="padding-bottom: 125%;"
			{%- endif -%}
			{%- if media_size == 'square' -%}
				style="padding-bottom: 100%;"
			{%- endif -%}
		>
			{%- if product_card_product.featured_media -%}
				{{ product_card_product.featured_media | image_url: width: product_card_product.featured_media.width | image_tag:
					loading: 'lazy',
					class: "motion-reduce media--first"
				}}
			{%- else -%}
				{{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
			{%- endif -%}
		</div>
	</div>

	<div class="card-horizontal__information">
		<div class="card-horizontal__information-group">
			{%- if show_vendor -%}
				<span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
				<div class="subtitle card__subtitle">{{ product_card_product.vendor }}</div>
			{%- endif -%}

			<h3 class="card-horizontal__title">
				<a class="full-unstyled-link" href="{{ product_card_product.url | default: '#' }}" title="{{ product_card_product.title | escape }}">
					{{ product_card_product.title | escape }}
				</a>
			</h3>

			<div class="product-parameters card-horizontal__parameters">
				{%- unless product_card_product.has_only_default_variant -%}
					{%- for option in product_card_product.options_with_values -%}
						{% liquid
							assign color_trigger = settings.trigger_swatch | handle | strip
							assign name_option = option.name | handle | strip
						%}

						{% if settings.type_color_swatch == 'custom' and color_trigger == name_option %}
							<div class="product-form__controls js-color-swatches">
								<div class="product-form__controls-group">
									{% render 'product-variant-options', product: product_card_product, option: option, no_form_id: false %}
								</div>
							</div>
						{% endif %}
					{%- endfor -%}
				{% endunless %}
			</div>
		</div>

		<div class="card-horizontal__bottom">
			{% render 'price', product: product_card_product, price_class: '' %}
			{%- if settings.badge_sale_show or settings.badge_soldout_show or settings.badge_custom_show -%}
				<div class="card-horizontal__badge">
					{%- if product_card_product.available == false and settings.badge_soldout_show -%}
						<span
							class="badge badge--soldout color-{{ settings.badge_soldout_color_scheme }}"
							aria-hidden="true"
						>
								{{- 'products.product.sold_out' | t -}}
							</span>
					{%- elsif product_card_product.compare_at_price
					> product_card_product.price
					and product_card_product.available and settings.badge_sale_show
					-%}
						<span class="badge badge--sale color-{{ settings.badge_sale_color_scheme }}" aria-hidden="true">
							{% if settings.badge_sale_type == "sale" %}
								{{- 'products.product.on_sale' | t -}}
							{% else %}
								{{- 'products.product.on_sale' | t -}}
								<span>
									{{ product_card_product.compare_at_price | minus: product_card_product.price | times: 100 | divided_by: product_card_product.compare_at_price }}%
								</span>
							{% endif %}
						</span>
					{%- endif -%}
					{% if settings.badge_custom_show and product_card_product.metafields.custom.badges != blank %}
						{% if product_card_product.metafields.custom.badges.list? %}
							{% for badge in product_card_product.metafields.custom.badges.value %}
								<span class="badge badge--custom color-{{ settings.badge_custom_color_scheme }}" aria-hidden="true">
										{{ badge }}
									</span>
							{% endfor %}
						{% else %}
							<span class="badge badge--custom color-{{ settings.badge_custom_color_scheme }}" aria-hidden="true">
									{{ product_card_product.metafields.custom.badges }}
								</span>
						{% endif %}
					{% endif %}
				</div>
			{%- endif -%}
		</div>
	</div>
	<a href="{{ product_card_product.url | default: '#' }}" class="link link--overlay card-wrapper__link--overlay js-color-swatches-link" aria-label="{{ 'accessibility.product_link' | t }}"></a>
</div>