{% if section.settings.content != blank or section.settings.title != blank or section.settings.subheading != blank or section.settings.image != blank %}

<section class="Section {% unless section.settings.image %}Section--spacingNormal{% endunless %}">
 
  
  {%- capture section_content -%}
    <div class="FeatureText__ContentWrapper">
      <div class="FeatureText__Content">
        {%- if section.settings.subheading != blank or section.settings.title != blank -%}
          <header class="SectionHeader">
            {%- if section.settings.subheading != blank -%}
              <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
            {%- endif -%}

            {%- if section.settings.title != blank -%}
              <span class="SectionHeader__Heading Heading u-h1">{{ section.settings.title }}</span>
            {%- endif -%}

            {%- if section.settings.content != blank -%}
              <div class="SectionHeader__Description Rte">
                {{ section.settings.content }}
              </div>
            {%- endif -%}

            {%- if section.settings.link_text != blank -%}
              <a href="{{ section.settings.link_url }}" class="Link Link--underline">{{ section.settings.link_text | escape }}</a>
            {%- endif -%}
          </header>
        {%- endif -%}
      </div>
    </div>
  {%- endcapture -%}

  
  {%- capture section_image -%}
    {%- if section.settings.image != blank -%}
      <div class="ImageWrapper" >
         <img src="{{ section.settings.image | img_url: 'master'  }}">
      </div>
    {%- endif -%}
  {%- endcapture -%}

  <div class="FeatureText {% if section.settings.image != blank %}FeatureText--withImage FeatureText--image{{ section.settings.image_position | capitalize }}{% endif %}">
    {%- if section.settings.image_position == 'left' -%}
      {{- section_image -}}
      {{- section_content -}}
    {%- else -%}
      {{- section_content -}}
      {{- section_image -}}
    {%- endif -%}
  </div>
</section>
{% endif %}
{% schema %}
{
  "name": "custom image with text",
  "class": "shopify-section--bordered",
  "settings": [
  
{
  "type": "richtext",
  "id": "title",
  "label": "Text1",
  "default": "<p>Answer goes here...</p>"
},
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1200 x 1200px png recommended"
    },

    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text2",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "custom image with text",
      "settings": {}
    }
  ]
}
{% endschema %}

<style>

  @import url('https://fonts.googleapis.com/css2?family=Karla&family=Poppins&display=swap');


  
  .SectionHeader__Heading.SectionHeader__Heading, .SectionHeader__SubHeading.SectionHeader__SubHeading {
   
    white-space: pre-wrap;
}
  .FeatureText__Content {
  
    padding: 0 0%;
  
}
  .ImageWrapper {
    width: 82%;
    margin: 0 auto;
}

  .FeatureText--withImage {
   
    max-width: 1200px;
    margin: 0 auto;
}

.FeatureText--imageLeft .FeatureText__ContentWrapper {
  background: none !important; 
    
}

.FeatureText .SectionHeader__Description {
    
    color: black;
}
.FeatureText--withImage .FeatureText__ContentWrapper {
    padding-top: 0px !important;
}
.image img {
  max-width:500px ;
 height: auto;
  object-fit: cover;
  opacity: 1 !important ;
    
} 
  .FeatureText--imageLeft .FeatureText__ContentWrapper {
    padding-left: 0px;
}
  .FeatureText .SectionHeader__Description {
    font-size: 19px;
    display: inline-block;
    font-family: Poppins;
    font-weight: 600;
    color: #c26a72;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}


.SectionHeader__Heading.SectionHeader__Heading, .SectionHeader__SubHeading.SectionHeader__SubHeading  {
   font-family: Karla;
    font-size: 20px;
    padding-top: 70px;
    line-height: 28px;
    text-align: left;
    color: #4a4a4a;
    white-space: pre-wrap;
      font-style: italic;
  font-family: 'Karla', sans-serif;
}
 .FeatureText--withImage {
    border: none !important;
    padding-top: 30px;
    padding-bottom: 30px;
}
  @media screen and (max-width: 768px) {
  .FeatureText--imageLeft .FeatureText__ContentWrapper {
    padding-left: 10px;
}
  }
</style>