{{ 'tabs-with-image.css' | asset_url | stylesheet_tag }}
{{ 'image-with-text-new.css' | asset_url | stylesheet_tag }}

<sections>
  <div class="page-width product-info">
    <div class="grid grid--2-col-desktop grid--1-col-tablet-down">
      <div class="grid__items text-side">
        {% for block in section.blocks %}
          {% if block.type == 'key-activese' %}
          <div class="text-content">
            {{ block.settings.key-actives }}
          </div>
          {% elsif block.type == 'tab' %}
          <div class="tab-content">
           
               <div class="tab">
                <input type="checkbox" name="accordion-1" id="cb1">
                <label for="cb1" class="tab__label accordion-heading">{{ block.settings.tab-heading }}</label>
                <div class="tab__content">
                  {{ block.settings.tab-text }}
                </div>
              </div>

          </div>

            {% endif %}
      
        {% endfor %}
      </div> 
      <div class="grid__items image-side">
         <div class="media_container">
           {% if section.settings.image != blank %}
              <img src="{{ section.settings.image | img_url: 'master'  }}">
            {% endif %}
         </div>
      </div>
    </div>
  </div>
</sections>
{% schema %}
  {
    "name": "Image with Text new",
    "class":"info-section",
    "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
          
        }
    ],
    "blocks":[
      {
        "type":"key-activese",
       "name":"Key Actives",
        "limit": 1,
        "settings":[
           {
              "type":"richtext",
              "id":"key-actives",
              "label":"Content"
          }
        ]
      },
      {
        "type":"tab",
       "name":"Tab",
        "limit": 1,
        "settings":[
           {
              "type":"text",
              "id":"tab-heading",
              "label":"Text"
          },
           {
              "type":"richtext",
              "id":"tab-text",
              "label":"Content"
          }
        ]
      }
      
    ],
    "presets":[
      {
        "name":"Image With Text new"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


























