<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>
{%- if settings.pagination_type == 'load_more' or settings.pagination_type == 'infinite_scroll' -%}
  <script src="{{ 'load-more.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  {% render 'section-padding' %}
{%- endstyle -%}

<div class="container section-{{ section.id }}-padding">
  <div class="page-header">
    <div class="page-header__inner">
      <h1 class="main-page-title page-title title--page h2">{{ section.settings.title | escape }}</h1>
    </div>
  </div>

  {%- liquid
    case section.settings.sort
      when 'products_high', 'products_low'
        assign collections = collections | sort: 'all_products_count'
      when 'date', 'date_reversed'
        assign collections = collections | sort: 'published_at'
    endcase

    if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
      assign collections = collections | reverse
    endif

    assign paginate_by = section.settings.collections_to_show | times: 6
  -%}

  {%- paginate collections by paginate_by -%}
    {% if paginate.current_page == 1 %}
      {% assign items_first = 1  %}
    {% else %}
      {% assign items_first = paginate.current_page | times: paginate_by | minus: paginate_by | plus: 1 %}
    {% endif %}
    {% assign items_last = paginate.current_page | times: paginate_by %}
    
    <ul
      class="collections-list collections-grid collections-grid--{{ section.settings.collections_to_show }} load-more-grid"
      role="list">
      {%- for collection in collections -%}
        {% if forloop.index >= items_first and  forloop.index <= items_last %}
          <li class="collections-grid__item  collections-grid__item--{{ collection.id }} 
            color-{{ section.settings.color_scheme }} background
            {% if section.settings.image_ratio == 'portrait' or section.settings.image_ratio == 'portrait' %} collections-grid__card--portrait {% endif %}
            collections-grid__item--{{- section.settings.image_ratio }}">
            <span
              class="collections-grid__overlay"
              style="--opacity: {{ section.settings.overlay_opacity }}; 
              --opacity-hover: {{ section.settings.overlay_opacity | plus: 0.1 }}"
            ></span>
            {% liquid
              case section.settings.image
                when 'product_hover'
                  assign image_first = collection.products[0].media[1]
                  assign image_second = collection.products[0].media[0]
                  assign image_third = collection.featured_image
                when 'product'
                  assign image_first = collection.products[0].media[0]
                  assign image_second = collection.featured_image
                  assign image_third = collection.products[0].media[1]
                when 'collection'
                  assign image_first = collection.featured_image
                  assign image_second = collection.products[0].media[1]
                  assign image_third = collection.products[0].media[0]
              endcase
            %}

            {% if image_first != blank %}
              {% assign collection_product_image = image_first %}
            {% elsif image_second != blank %}
              {% assign collection_product_image = image_second %}
            {% else %}
              {% assign collection_product_image = image_third %}
            {% endif %} 

            {% if section.settings.image_ratio == 'adapt' and collection_product_image != blank %}
            {% style %}
              .collections-grid__item--{{ collection.id }}::after {
                padding-bottom: {{ 1 | divided_by: collection_product_image.aspect_ratio | times: 100 }}%;
              }
            {% endstyle %}
            {% endif %}

            <div
              class="collections-grid__image collections-grid__image--{{- section.settings.image_fit -}}">
              {%- if collection_product_image != blank -%}

                {%- capture sizes -%}
                  (min-width: 1360px) calc(100vw / {{ section.settings.collections_to_show }} - 128px)
                  (min-width: 990px) {% if section.settings.collections_to_show == 4 %} calc(100vw / 3 - 40px) {% else %} calc(100vw / {{ section.settings.collections_to_show }} - 40px) {%  endif %},
                  (min-width: 750px) {% if section.settings.collections_to_show >= 3 %} calc(100vw / 2 - 40px) {% else %} calc(100vw / {{ section.settings.collections_to_show }} - 40px) {%  endif %},
                  calc(100vw - 40px)
                {%- endcapture -%}

                {{
                  collection_product_image
                  | image_url: width: collection_product_image.width
                  | image_tag: loading: 'lazy', sizes: sizes, widths: '360, 550, 750, 900, 1100, 1420, 1700, 1920'
                }}
              {% endif %}
            </div>
            <div class="collections-grid__information">
              <h2 class="collections-grid__title">
                <span>{{- collection.title -}}</span>
              </h2>
              {%- if collection.description != blank and section.settings.show_desc -%}
                <p class="collections-grid__desc">{{- collection.description | strip_html | truncatewords: 80, '...' -}}</p>
              {%- endif -%}
              {% if section.settings.show_button and section.settings.button_label %}
                <a href="{{ collection.url | default: '#' }}" 
                  class=" collections-grid__link button button--{{ section.settings.button_style }} focus-inset">
                    {{ section.settings.button_label }}
                </a> 
              {% endif %}
            </div>
            <a href="{{ collection.url | default: '#' }}" class=" collections-grid__link_overlay"
              aria-label="{{ collection.title }}">
              <span class="visibility-hidden">{{ collection.title }}</span>
            </a> 
          </li>
        {% endif %}
      {%- endfor -%}
    </ul>

    {%- if paginate.pages > 1 -%}
      {%- if settings.pagination_type == 'load_more' -%}
        {% render 'load-more',
          next_url: paginate.next.url,
          count_pages: paginate.pages,
          current_page: paginate.current_page
        %}
        <div class="js-hidden">
          {% render 'pagination', paginate: paginate %}
        </div>
      {%- elsif settings.pagination_type == 'infinite_scroll' -%}
        {% render 'infinite-scroll',
          next_url: paginate.next.url,
          count_pages: paginate.pages,
          current_page: paginate.current_page
        %}
        <div class="js-hidden">
          {% render 'pagination', paginate: paginate %}
        </div>
      {% else %}
        {% render 'pagination', paginate: paginate %}
      {%- endif -%}
    {%- endif -%}
  {%- endpaginate -%}
</div>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "tag": "section",
  "class": "section-list-collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "Explore Our Collections"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-4",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "select",
      "id": "image",
      "options": [
        {
          "value": "collection",
          "label": "t:sections.main-list-collections.settings.image.options__1.label"
        },
        {
          "value": "product",
          "label": "t:sections.main-list-collections.settings.image.options__2.label"
        },
        {
          "value": "product_hover",
          "label": "t:sections.main-list-collections.settings.image.options__3.label"
        }
      ],
      "default": "collection",
      "label": "t:sections.main-list-collections.settings.image.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__4.label"
        }
      ],
      "default": "landscape",
      "label": "t:sections.main-list-collections.settings.image_ratio.label",
      "info": "t:sections.main-list-collections.settings.image_ratio.info"
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.all.card.image_fit.label",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover"
    },
    {
      "type": "checkbox",
      "id": "show_desc",
      "default": true,
      "label": "t:sections.main-list-collections.settings.show_desc.label"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.3,
      "label": "t:sections.all.overlay_opacity.label"
    },
    {
      "type": "range",
      "id": "collections_to_show",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 1,
      "label": "t:sections.main-list-collections.settings.collections_to_show.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.button.header_button.content"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "default": true,
      "label": "t:sections.all.button.button_show.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Explore Collection",
      "label": "t:sections.all.button.button_label.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        }
      ],
      "default": "secondary",
      "label": "t:sections.all.button.button_style.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ]
}
{% endschema %}
