{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{%- if settings.pagination_type == 'load_more' or settings.pagination_type == 'infinite_scroll' -%}
  <script src="{{ 'load-more.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% liquid
  assign padding_bottom = 0
  if section.settings.image_height == 'adapt' and section.settings.image
    assign padding_bottom = 1 | divided_by: section.settings.image.aspect_ratio | times: 100
  endif
%}

{%- style -%}
  {% render 'section-padding' %}

   .main-blog__image--overlay::before {
     background-color: rgb(var(--color-overlay), {{ section.settings.opacity_overlay }});
   }

   .main-blog__wrapper--overlay::before, .main-blog__image--column::before {
     content: '';
     padding-bottom: {{ padding_bottom }}%;
   }
{%- endstyle -%}

{%- paginate blog.articles by 9 -%}
  <div
    class="
      main-blog section-{{ section.id }}-padding
      {% if section.settings.layout == 'overlay' %} section--has-overlay {% endif %}
    "
  >
    <div
      class="
        main-blog__wrapper
        main-blog__wrapper--{{ section.settings.layout }}
        main-blog__wrapper--{{ section.settings.image_height }}
        {% if section.settings.image == blank %} no-image {% endif %}
        {% if section.settings.image == blank and section.settings.description == blank %} no-content {% endif %}
      "
    >
      <div class="main-blog__content color-{{ section.settings.color_scheme }}">
        <div class="container">
          {% if settings.show_breadcrumbs %}
            <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
              <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home' | t }}">
                {{ 'general.breadcrumbs.home' | t }}
              </a>
              <div class="breadcrumb__delimiter">/</div>
              {% if current_tags %}
                {{ blog.title | link_to: blog.url }}
                <div class="breadcrumb__delimiter">/</div>
                <span>{{ current_tags | join: ' + ' }} </span>
              {% else %}
                <span>{{ blog.title }}</span>
              {% endif %}
            </nav>
          {% endif %}
          <div class="main-blog__info">
            <div class="page-header">
              <div class="page-header__inner">
                <h1 class="main-page-title page-title title--page h2">{{ blog.title | escape }}</h1>
              </div>
            </div>
            {% if section.settings.description != blank %}
              <p class="main-blog__description">{{ section.settings.description }}</p>
            {% endif %}
          </div>
        </div>

        <div
          class="
            main-blog__image main-blog__image--{{ section.settings.layout }}
            main-blog__image--{{ section.settings.image_height }}
            {% if section.settings.image == blank %} no-image {% endif %}
          "
        >
          {% if section.settings.image %}
            {% capture sizes %}
              100vw
            {% endcapture %}
            {{
              section.settings.image
              | image_url: width: section.settings.image.width
              | image_tag:
                loading: 'lazy',
                widths: '360, 535, 720, 940, 1100, 1200, 1440, 1600, 1800, 2000',
                sizes: sizes
            }}
          {% endif %}
        </div>
      </div>
    </div>

    {% if blog.articles_count > 0 %}
      <div class="main-blog__articles container">
        <ul class="blog-articles {% if blog.articles.size > 5 %} blog-articles__grid {% endif %} load-more-grid">
          {%- for article in blog.articles -%}
            <li class="blog-articles__article article">
              {%- render 'article-card',
                article: article,
                show_image: section.settings.show_image,
                show_tags: section.settings.show_tags,
                show_date: section.settings.show_date,
                show_author: section.settings.show_author,
                show_excerpt: section.settings.show_excerpt
              -%}
            </li>
          {%- endfor -%}
        </ul>

        {%- if paginate.pages > 1 -%}
          {%- if settings.pagination_type == 'load_more' -%}
            {% render 'load-more',
              next_url: paginate.next.url,
              count_pages: paginate.pages,
              current_page: paginate.current_page
            %}
            <div class="js-hidden">
              {% render 'pagination', paginate: paginate %}
            </div>
          {%- elsif settings.pagination_type == 'infinite_scroll' -%}
            {% render 'infinite-scroll',
              next_url: paginate.next.url,
              count_pages: paginate.pages,
              current_page: paginate.current_page
            %}
            <div class="js-hidden">
              {% render 'pagination', paginate: paginate %}
            </div>
          {% else %}
            {% render 'pagination', paginate: paginate %}
          {%- endif -%}
        {%- endif -%}
      </div>
    {% endif %}
  </div>
{%- endpaginate -%}

{%- if section.settings.layout == 'overlay' %}
  {% render 'section-overlay' %}
{% endif -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section-main-blog",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.main-blog.settings.layout.label",
      "options": [
        {
          "value": "overlay",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "column",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "overlay"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.main-blog.settings.description.label",
      "info": "t:sections.main-blog.settings.description.info"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.main-blog.settings.image.label",
      "info": "t:sections.main-blog.settings.image.info"
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "t:sections.main-blog.settings.image_height.label",
      "options": [
        {
          "value": "full",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "adapt"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-3",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "range",
      "id": "opacity_overlay",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "t:sections.main-blog.settings.opacity_overlay.label",
      "default": 0.3
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": true,
      "label": "t:sections.main-blog.settings.show_tags.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": false,
      "label": "t:sections.main-blog.settings.show_excerpt.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ]
}
{% endschema %}
