{{ 'section-popular-products.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

{%- if settings.quickview_show or settings.show_on_mobile or settings.type_color_swatch == 'custom' -%}
  {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{% endif %}

{%- if settings.quickview_show or settings.show_on_mobile -%}
  <link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="all">
  <link
    rel="preload"
    href="{{ 'quick-add.css' | asset_url }}"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  >
{%- endif -%}

{%- style -%}
  {% render 'section-padding' %}
{%- endstyle -%}

<div class="popular-products section-{{ section.id }}-padding">
  <div class="container popular-products__container">
    {%- if section.settings.subheading != blank and section.settings.heading != blank -%}
      <span class="popular-products__subtitle subtitle">{{ section.settings.subheading }}</span>
    {%- endif -%}
    <div class="popular-products__content {% if section.settings.heading == blank %} popular-products__content_no-heading {% endif %}">
      {%- if section.settings.subheading != blank or section.settings.heading != blank -%}
        <div class="popular-products__top">
          {%- if section.settings.subheading != blank and section.settings.heading == blank -%}
            <span class="popular-products__subtitle subtitle">{{ section.settings.subheading }}</span>
          {%- endif -%}
          {%- if section.settings.heading != blank -%}
            <h2 class="popular-products__heading {{ section.settings.heading_size }}">
              {{ section.settings.heading }}
            </h2>
          {%- endif -%}
        </div>
      {% endif %}
      {%- if section.settings.button_show -%}
        <a
          {% if section.settings.button_link != blank %}
            href="{{ section.settings.button_link }}"
          {% endif %}
          class="popular-products__button button button--{{ section.settings.button_style }} focus-inset"
          {% if section.settings.button_link == blank %}
            aria-disabled="true"
          {% endif %}
        >
          <span>
            {{- section.settings.button_label | escape -}}
          </span>
        </a>
      {%- endif -%}

      <ul
        class="
          popular-products__wrapper
          popular-products__wrapper--{{ section.settings.products_to_show }}
          popular-products--{{ section.settings.columns_mobile }}-mobile
          list-unstyled
        "
      >
        {%- for product in section.settings.product_list -%}
          <li
            class="
              popular-products__item collection-product-card
              quickview{%- if settings.quickview_hover -%}--hover{% endif %}
            "
          >
            {% render 'product-card',
              product_card_product: product,
              media_size: section.settings.image_ratio,
              media_fit: section.settings.image_fit,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_collection: section.settings.show_collection,
              show_desc: section.settings.show_desc,
              section_id: section.id,
              add_id: forloop.index,
              add_meta: section.settings.meta
            %}
          </li>
        {%- else -%}
          {%- for i in (1..4) -%}
            <li class="popular-products__item_placeholder collection-popular-card collection-popular-card--placeholder">
              {% render 'product-card-placeholder', media_size: section.settings.image_ratio %}
            </li>
          {%- endfor -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.popular-products.name",
  "tag": "section",
  "class": "popular-products-section spaced-section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["*"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "meta",
      "label": "Price m/m²"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.popular-products.settings.subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Some heading",
      "label": "t:sections.popular-products.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.popular-products.settings.product_list.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4,
      "label": "t:sections.popular-products.settings.products_to_show.label"
    },
    {
      "type": "header",
      "content": "t:sections.product-recommendations.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.all.card.image_fit.label",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.all.card.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.all.card.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection",
      "default": true,
      "label": "t:sections.all.card.show_collection.label"
    },
    {
      "type": "checkbox",
      "id": "show_desc",
      "default": false,
      "label": "t:sections.all.card.show_desc.label",
      "info": "t:sections.all.card.show_desc.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "1",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.button.header_button.content"
    },
    {
      "type": "checkbox",
      "id": "button_show",
      "default": true,
      "label": "t:sections.all.button.button_show.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "t:sections.all.button.button_label.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.image-banner.settings.button_style.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button.button_link.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.popular-products.presets.name"
    }
  ]
}
{% endschema %}
