{{ 'section-tabs-with-text.css' | asset_url | stylesheet_tag }}
<script src="{{ 'tabs-with-text.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  {% render 'section-margin' %}
  {% render 'section-padding' %}
{%- endstyle -%}

<div class="tabs-with-text section-{{ section.id }} section-{{ section.id }}-padding twt">
  <div class="container">
    <div class="titles">
      {%- if section.settings.subheading != blank -%}
        <div class="twt__subheading subtitle">
          {{ section.settings.subheading }}
        </div>
      {%- endif -%}

      {%- if section.settings.heading != blank -%}
        <h2 class="twt__heading heading {{ section.settings.heading_size }}">
          {{ section.settings.heading }}
        </h2>
      {%- endif -%}
    </div>

    <div class="twt__tabs swiper no-js-hidden">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          {%- if block.settings.tab_heading != blank -%}
            <h3
              class="twt__tabs-item swiper-slide link-hover-line {{ section.settings.tab_heading_size }}"
              {{ block.shopify_attributes }}
              {% if forloop.index == 1 %}
                data-active
              {% endif %}
            >
              {{ block.settings.tab_heading | escape }}
            </h3>
          {%- endif -%}
        {% endfor %}
      </div>

      <div class="twt__nav">
        <div class="twt__prev focus-inset">
          {% render 'icon-button-arrow' %}
        </div>
        <div class="twt__next focus-inset">
          {% render 'icon-button-arrow' %}
        </div>
      </div>
    </div>
    <div class="twt__content">
      {%- for block in section.blocks -%}
        <h3
          class="twt__tabs-item swiper-slide link-hover-line {{ section.settings.tab_heading_size }} js-hidden"
          {{ block.shopify_attributes }}
            data-active
        >
          {{ block.settings.tab_heading | escape }}
        </h3>
        <div
          class="twt__content-item no-js-flex"
          {% if forloop.index == 1 %}
            style="display: flex;"
          {% endif %}
        >
          {%- case block.type -%}
            {%- when 'text_tab' -%}
              {%- if block.settings.text != blank or block.settings.image != blank or block.settings.show_button -%}
                <div class="twt__text" {{ block.shopify_attributes }}>
                  <div class="twt__image-wrapper">
                    {% if block.settings.image != blank %}
                      <img
                        srcset="{{ block.settings.image | image_url: width: 100 }} 1x, {{ block.settings.image | image_url: width: 200 }} 2x"
                        src="{{ block.settings.image | image_url: width: 100 }}"
                        width="100"
                        height="auto"
                        loading="lazy"
                        class="twt__image"
                      >
                      {% if block.settings.image_2 != blank %}
                        <img
                          srcset="{{ block.settings.image_2 | image_url: width: 100 }} 1x, {{ block.settings.image_2 | image_url: width: 200 }} 2x"
                          src="{{ block.settings.image_2 | image_url: width: 100 }}"
                          width="100"
                          height="auto"
                          loading="lazy"
                          class="twt__image twt__image--dark"
                        >
                      {% endif %}
                    {% elsif block.settings.image_2 != blank %}
                      <img
                        srcset="{{ block.settings.image_2 | image_url: width: 100 }} 1x, {{ block.settings.image_2 | image_url: width: 200 }} 2x"
                        src="{{ block.settings.image_2 | image_url: width: 100 }}"
                        width="100"
                        height="auto"
                        loading="lazy"
                        class="twt__image twt__image--dark"
                      >
                    {% endif %}
                  </div>
                  {{ block.settings.text }}
                  {%- if block.settings.show_button -%}
                    <a
                      {% if block.settings.button_link != blank %}
                        href="{{ block.settings.button_link }}"
                      {% endif %}
                      class="button twt__button button--{{ block.settings.button_style }} {% if block.settings.button_style == 'simple' %}button--arrow{% endif %} focus-inset"
                      {% if block.settings.button_link == blank %}
                        aria-disabled="true"
                      {% endif %}
                    >
                      <span>
                        {{- block.settings.button_label | escape -}}
                      </span>
                      {% if block.settings.button_style == 'simple' %}
                        {% render 'icon-button-arrow' %}
                      {% endif %}
                    </a>
                  {%- endif -%}
                </div>
              {%- endif -%}
            {%- when 'characteristics_tab' -%}
              {%- if product.metafields.characteristics.name.value.size > 0 -%}
                <div
                  class="twt__characteristics"
                  style="--columns: {{ block.settings.columns }};"
                  {{ block.shopify_attributes }}
                >
                  {%- for item in product.metafields.characteristics.name.value -%}
                    <div class="twt__row">
                      <div class="twt__row-title">{{ item }}</div>
                      <div class="twt__row-descr">
                        {{ product.metafields.characteristics.description.value[forloop.index0] }}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            {%- when 'column_tab' -%}
              <div
                class="multicolumn-list__wrapper multicolumn-list__wrapper--{{ block.settings.columns_in_row }} multicolumn-list__wrapper--static twt__multicolumn"
                {{ block.shopify_attributes }}
              >
                {% if block.settings.show_column_1 %}
                  <div class="multicolumn-card multicolumn-list__item color-{{ block.settings.color_scheme }} background">
                    {%- if block.settings.icon_1 != 'none' -%}
                      <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--icon multicolumn-card__image-wrapper--medium">
                        {% render 'icon-pack', icon: block.settings.icon_1 %}
                      </div>
                    {%- endif -%}

                    <div class="multicolumn-card__info">
                      {%- if block.settings.heading_1 != blank -%}
                        <h3 class="multicolumn-card__heading">
                          {{ block.settings.heading_1 | escape }}
                        </h3>
                      {%- endif -%}
                      {%- if block.settings.text_1 != blank -%}
                        <div class="multicolumn-card__text">{{ block.settings.text_1 }}</div>
                      {%- endif -%}
                      {%- if block.settings.show_button_1 != blank -%}
                        <a
                          {% if block.settings.button_link_1 != blank %}
                            href="{{ block.settings.button_link_1 }}"
                          {% endif %}
                          class="multicolumn-card__link button button--{{ block.settings.button_style_1 }} button--{% if block.settings.button_style_1 != 'simple' %}primary-size {% else %}arrow{% endif %} focus-inset"
                          {% if block.settings.button_link == blank %}
                            aria-disabled="true"
                          {% endif %}
                          aria-label="{{ block.settings.button_label_1 | escape }}"
                        >
                          <span>
                            {{ block.settings.button_label_1 | escape }}
                          </span>
                          {% if block.settings.button_style_1 == 'simple' %}
                            {% render 'icon-button-arrow' %}
                          {% endif %}
                        </a>
                      {% endif %}
                      {%- if block.settings.additional_text_1_1 != blank
                        or block.settings.additional_text_2_1 != blank
                      -%}
                        <div class="multicolumn-card__additional-text">
                          {%- if block.settings.additional_text_1_1 != blank -%}
                            <span>{{ block.settings.additional_text_1_1 }}</span>
                          {%- endif -%}
                          {%- if block.settings.additional_text_2_1 != blank -%}
                            <span>{{ block.settings.additional_text_2_1 }}</span>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                {% endif %}
                {% if block.settings.show_column_2 %}
                  <div class="multicolumn-card multicolumn-list__item color-{{ block.settings.color_scheme }} background">
                    {%- if block.settings.icon_2 != 'none' -%}
                      <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--icon multicolumn-card__image-wrapper--medium">
                        {% render 'icon-pack', icon: block.settings.icon_2 %}
                      </div>
                    {%- endif -%}

                    <div class="multicolumn-card__info">
                      {%- if block.settings.heading_2 != blank -%}
                        <h3 class="multicolumn-card__heading">
                          {{ block.settings.heading_2 | escape }}
                        </h3>
                      {%- endif -%}
                      {%- if block.settings.text_2 != blank -%}
                        <div class="multicolumn-card__text">{{ block.settings.text_2 }}</div>
                      {%- endif -%}
                      {%- if block.settings.show_button_2 != blank -%}
                        <a
                          {% if block.settings.button_link_2 != blank %}
                            href="{{ block.settings.button_link_2 }}"
                          {% endif %}
                          class="multicolumn-card__link button button--{{ block.settings.button_style_2 }} button--{% if block.settings.button_style_2 != 'simple' %}primary-size {% else %}arrow{% endif %} focus-inset"
                          {% if block.settings.button_link_2 == blank %}
                            aria-disabled="true"
                          {% endif %}
                          aria-label="{{ block.settings.button_label_2 | escape }}"
                        >
                          <span>
                            {{ block.settings.button_label_2 | escape }}
                          </span>
                          {% if block.settings.button_style_2 == 'simple' %}
                            {% render 'icon-button-arrow' %}
                          {% endif %}
                        </a>
                      {% endif %}
                      {%- if block.settings.additional_text_1_2 != blank
                        or block.settings.additional_text_2_2 != blank
                      -%}
                        <div class="multicolumn-card__additional-text">
                          {%- if block.settings.additional_text_1_2 != blank -%}
                            <span>{{ block.settings.additional_text_1_2 }}</span>
                          {%- endif -%}
                          {%- if block.settings.additional_text_2_2 != blank -%}
                            <span>{{ block.settings.additional_text_2_2 }}</span>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                {% endif %}
                {% if block.settings.show_column_3 %}
                  <div class="multicolumn-card multicolumn-list__item color-{{ block.settings.color_scheme }} background">
                    {%- if block.settings.icon_3 != 'none' -%}
                      <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--icon multicolumn-card__image-wrapper--medium">
                        {% render 'icon-pack', icon: block.settings.icon_3 %}
                      </div>
                    {%- endif -%}

                    <div class="multicolumn-card__info">
                      {%- if block.settings.heading_3 != blank -%}
                        <h3 class="multicolumn-card__heading">
                          {{ block.settings.heading_3 | escape }}
                        </h3>
                      {%- endif -%}
                      {%- if block.settings.text_3 != blank -%}
                        <div class="multicolumn-card__text">{{ block.settings.text_3 }}</div>
                      {%- endif -%}
                      {%- if block.settings.show_button_3 != blank -%}
                        <a
                          {% if block.settings.button_link_3 != blank %}
                            href="{{ block.settings.button_link_3 }}"
                          {% endif %}
                          class="multicolumn-card__link button button--{{ block.settings.button_style_3 }} button--{% if block.settings.button_style_3 != 'simple' %}primary-size {% else %}arrow{% endif %} focus-inset"
                          {% if block.settings.button_link_3 == blank %}
                            aria-disabled="true"
                          {% endif %}
                          aria-label="{{ block.settings.button_label_3 | escape }}"
                        >
                          <span>
                            {{ block.settings.button_label_3 | escape }}
                          </span>
                          {% if block.settings.button_style_3 == 'simple' %}
                            {% render 'icon-button-arrow' %}
                          {% endif %}
                        </a>
                      {% endif %}
                      {%- if block.settings.additional_text_1_3 != blank
                        or block.settings.additional_text_2_3 != blank
                      -%}
                        <div class="multicolumn-card__additional-text">
                          {%- if block.settings.additional_text_1_3 != blank -%}
                            <span>{{ block.settings.additional_text_1_3 }}</span>
                          {%- endif -%}
                          {%- if block.settings.additional_text_2_3 != blank -%}
                            <span>{{ block.settings.additional_text_2_3 }}</span>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                {% endif %}
                {% if block.settings.show_column_4 %}
                  <div class="multicolumn-card multicolumn-list__item color-{{ block.settings.color_scheme }} background">
                    {%- if block.settings.icon_4 != 'none' -%}
                      <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--icon multicolumn-card__image-wrapper--medium">
                        {% render 'icon-pack', icon: block.settings.icon_4 %}
                      </div>
                    {%- endif -%}

                    <div class="multicolumn-card__info">
                      {%- if block.settings.heading_4 != blank -%}
                        <h3 class="multicolumn-card__heading">
                          {{ block.settings.heading_4 | escape }}
                        </h3>
                      {%- endif -%}
                      {%- if block.settings.text_4 != blank -%}
                        <div class="multicolumn-card__text">{{ block.settings.text_4 }}</div>
                      {%- endif -%}
                      {%- if block.settings.show_button_4 != blank -%}
                        <a
                          {% if block.settings.button_link_4 != blank %}
                            href="{{ block.settings.button_link_4 }}"
                          {% endif %}
                          class="multicolumn-card__link button button--{{ block.settings.button_style_4 }} button--{% if block.settings.button_style_4 != 'simple' %}primary-size {% else %}arrow{% endif %} focus-inset"
                          {% if block.settings.button_link == blank %}
                            aria-disabled="true"
                          {% endif %}
                          aria-label="{{ block.settings.button_label_4 | escape }}"
                        >
                          <span>
                            {{ block.settings.button_label_4 | escape }}
                          </span>
                          {% if block.settings.button_style_4 == 'simple' %}
                            {% render 'icon-button-arrow' %}
                          {% endif %}
                        </a>
                      {% endif %}
                      {%- if block.settings.additional_text_1_4 != blank
                        or block.settings.additional_text_2_4 != blank
                      -%}
                        <div class="multicolumn-card__additional-text">
                          {%- if block.settings.additional_text_1_4 != blank -%}
                            <span>{{ block.settings.additional_text_1_4 }}</span>
                          {%- endif -%}
                          {%- if block.settings.additional_text_2_4 != blank -%}
                            <span>{{ block.settings.additional_text_2_4 }}</span>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                {% endif %}
              </div>
          {% endcase %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.tabs-with-text.name",
  "class": "tabs-slider-section",
  "max_blocks": 7,
  "tag": "section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "default": "Subheading",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Some heading",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
				{
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
		{
      "type": "select",
      "id": "tab_heading_size",
      "options": [
				{
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        }
      ],
      "default": "h3",
      "label": "t:sections.tabs-with-products.settings.tab_heading_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "text_tab",
      "name": "t:sections.tabs-with-text.blocks.text_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "tab_heading",
          "default": "Tab heading",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.tabs-with-text.blocks.text_tab.settings.image.label",
          "info": "t:sections.tabs-with-text.blocks.text_tab.settings.image.info"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.tabs-with-text.blocks.text_tab.settings.image_2.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Some description</p>",
          "label": "t:sections.all.text.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.button.header_button.content"
        },
        {
          "type": "checkbox",
          "id": "show_button",
          "default": false,
          "label": "t:sections.all.button.button_show.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button Label",
          "label": "t:sections.all.button.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "tertiary",
              "label": "t:sections.all.button.button_style.options__3.label"
            },
            {
              "value": "simple",
              "label": "t:sections.all.button.button_style.options__4.label"
            }
          ],
          "default": "simple",
          "label": "t:sections.all.button.button_style.label"
        }
      ]
    },
    {
      "type": "characteristics_tab",
      "name": "t:sections.tabs-with-text.blocks.chars_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "tab_heading",
          "default": "Tab heading",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "range",
          "id": "columns",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3,
          "label": "t:sections.tabs-with-text.blocks.chars_tab.settings.columns.label"
        }
      ]
    },
    {
      "type": "column_tab",
      "name": "t:sections.tabs-with-text.blocks.column_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "tab_heading",
          "default": "Tab heading",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "range",
          "id": "columns_in_row",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 4,
          "label": "t:sections.tabs-with-text.blocks.column_tab.settings.columns_in_row.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "background-2",
          "label": "t:sections.all.color_scheme.label"
        },
        {
          "type": "header",
          "content": "t:sections.tabs-with-text.blocks.column_tab.settings.column_header_1.content"
        },
        {
          "type": "checkbox",
          "id": "show_column_1",
          "default": true,
          "label": "t:sections.tabs-with-text.blocks.column_tab.settings.show_column.label"
        },
        {
          "type": "select",
          "id": "icon_1",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.icon_pack.options__1.label"
            },
            {
              "value": "alert",
              "label": "t:sections.all.icon_pack.options__2.label"
            },
            {
              "value": "bag",
              "label": "t:sections.all.icon_pack.options__3.label"
            },
            {
              "value": "bell",
              "label": "t:sections.all.icon_pack.options__4.label"
            },
            {
              "value": "book",
              "label": "t:sections.all.icon_pack.options__5.label"
            },
            {
              "value": "bottle_1",
              "label": "t:sections.all.icon_pack.options__6.label"
            },
            {
              "value": "bottle_2",
              "label": "t:sections.all.icon_pack.options__7.label"
            },
            {
              "value": "box",
              "label": "t:sections.all.icon_pack.options__8.label"
            },
            {
              "value": "brush_1",
              "label": "t:sections.all.icon_pack.options__9.label"
            },
            {
              "value": "brush_2",
              "label": "t:sections.all.icon_pack.options__10.label"
            },
            {
              "value": "calendar",
              "label": "t:sections.all.icon_pack.options__11.label"
            },
            {
              "value": "card",
              "label": "t:sections.all.icon_pack.options__12.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.all.icon_pack.options__13.label"
            },
            {
              "value": "chat_bubble_1",
              "label": "t:sections.all.icon_pack.options__14.label"
            },
            {
              "value": "chat_bubble_2",
              "label": "t:sections.all.icon_pack.options__15.label"
            },
            {
              "value": "chat_bubble_3",
              "label": "t:sections.all.icon_pack.options__16.label"
            },
            {
              "value": "chat_bubble_4",
              "label": "t:sections.all.icon_pack.options__17.label"
            },
            {
              "value": "chat_bubble_5",
              "label": "t:sections.all.icon_pack.options__18.label"
            },
            {
              "value": "check_mark_1",
              "label": "t:sections.all.icon_pack.options__19.label"
            },
            {
              "value": "check_mark_2",
              "label": "t:sections.all.icon_pack.options__20.label"
            },
            {
              "value": "check_mark_3",
              "label": "t:sections.all.icon_pack.options__21.label"
            },
            {
              "value": "clipboard_1",
              "label": "t:sections.all.icon_pack.options__22.label"
            },
            {
              "value": "clipboard_2",
              "label": "t:sections.all.icon_pack.options__23.label"
            },
            {
              "value": "clock",
              "label": "t:sections.all.icon_pack.options__24.label"
            },
            {
              "value": "close",
              "label": "t:sections.all.icon_pack.options__25.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.all.icon_pack.options__26.label"
            },
            {
              "value": "facebook",
              "label": "t:sections.all.icon_pack.options__29.label"
            },
            {
              "value": "file",
              "label": "t:sections.all.icon_pack.options__30.label"
            },
            {
              "value": "filter",
              "label": "t:sections.all.icon_pack.options__31.label"
            },
            {
              "value": "fire",
              "label": "t:sections.all.icon_pack.options__32.label"
            },
            {
              "value": "gift",
              "label": "t:sections.all.icon_pack.options__33.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.all.icon_pack.options__34.label"
            },
            {
              "value": "hand",
              "label": "t:sections.all.icon_pack.options__35.label"
            },
            {
              "value": "hanger",
              "label": "t:sections.all.icon_pack.options__36.label"
            },
            {
              "value": "heart",
              "label": "t:sections.all.icon_pack.options__37.label"
            },
            {
              "value": "home",
              "label": "t:sections.all.icon_pack.options__38.label"
            },
            {
              "value": "instagram",
              "label": "t:sections.all.icon_pack.options__39.label"
            },
            {
              "value": "laptop",
              "label": "t:sections.all.icon_pack.options__40.label"
            },
            {
              "value": "leaf_1",
              "label": "t:sections.all.icon_pack.options__41.label"
            },
            {
              "value": "leaf_2",
              "label": "t:sections.all.icon_pack.options__42.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.all.icon_pack.options__43.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.icon_pack.options__44.label"
            },
            {
              "value": "lock",
              "label": "t:sections.all.icon_pack.options__45.label"
            },
            {
              "value": "logout",
              "label": "t:sections.all.icon_pack.options__46.label"
            },
            {
              "value": "magic",
              "label": "t:sections.all.icon_pack.options__47.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.all.icon_pack.options__48.label"
            },
            {
              "value": "moon",
              "label": "t:sections.all.icon_pack.options__49.label"
            },
            {
              "value": "mute",
              "label": "t:sections.all.icon_pack.options__50.label"
            },
            {
              "value": "notification_box",
              "label": "t:sections.all.icon_pack.options__51.label"
            },
            {
              "value": "pants",
              "label": "t:sections.all.icon_pack.options__52.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.all.icon_pack.options__53.label"
            },
            {
              "value": "paypal",
              "label": "t:sections.all.icon_pack.options__54.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.all.icon_pack.options__55.label"
            },
            {
              "value": "pinterest",
              "label": "t:sections.all.icon_pack.options__56.label"
            },
            {
              "value": "plane",
              "label": "t:sections.all.icon_pack.options__57.label"
            },
            {
              "value": "plant_1",
              "label": "t:sections.all.icon_pack.options__58.label"
            },
            {
              "value": "plant_2",
              "label": "t:sections.all.icon_pack.options__59.label"
            },
            {
              "value": "plant_3",
              "label": "t:sections.all.icon_pack.options__60.label"
            },
            {
              "value": "play",
              "label": "t:sections.all.icon_pack.options__61.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.all.icon_pack.options__62.label"
            },
            {
              "value": "question_mark_1",
              "label": "t:sections.all.icon_pack.options__63.label"
            },
            {
              "value": "question_mark_2",
              "label": "t:sections.all.icon_pack.options__64.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.all.icon_pack.options__65.label"
            },
            {
              "value": "return",
              "label": "t:sections.all.icon_pack.options__66.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.all.icon_pack.options__67.label"
            },
            {
              "value": "search",
              "label": "t:sections.all.icon_pack.options__68.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.all.icon_pack.options__69.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.all.icon_pack.options__70.label"
            },
            {
              "value": "shoe_1",
              "label": "t:sections.all.icon_pack.options__71.label"
            },
            {
              "value": "shoe_2",
              "label": "t:sections.all.icon_pack.options__72.label"
            },
            {
              "value": "shoe_3",
              "label": "t:sections.all.icon_pack.options__73.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.all.icon_pack.options__74.label"
            },
            {
              "value": "snapchat",
              "label": "t:sections.all.icon_pack.options__75.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.all.icon_pack.options__76.label"
            },
            {
              "value": "star",
              "label": "t:sections.all.icon_pack.options__77.label"
            },
            {
              "value": "stopwatch_1",
              "label": "t:sections.all.icon_pack.options__78.label"
            },
            {
              "value": "stopwatch_2",
              "label": "t:sections.all.icon_pack.options__79.label"
            },
            {
              "value": "sun",
              "label": "t:sections.all.icon_pack.options__80.label"
            },
            {
              "value": "tik_tok",
              "label": "t:sections.all.icon_pack.options__81.label"
            },
            {
              "value": "trash",
              "label": "t:sections.all.icon_pack.options__82.label"
            },
            {
              "value": "truck",
              "label": "t:sections.all.icon_pack.options__83.label"
            },
            {
              "value": "tumblr",
              "label": "t:sections.all.icon_pack.options__84.label"
            },
            {
              "value": "twitter",
              "label": "t:sections.all.icon_pack.options__85.label"
            },
            {
              "value": "unmute",
              "label": "t:sections.all.icon_pack.options__86.label"
            },
            {
              "value": "user",
              "label": "t:sections.all.icon_pack.options__87.label"
            },
            {
              "value": "users",
              "label": "t:sections.all.icon_pack.options__88.label"
            },
            {
              "value": "vimeo",
              "label": "t:sections.all.icon_pack.options__89.label"
            },
            {
              "value": "washing",
              "label": "t:sections.all.icon_pack.options__90.label"
            },
            {
              "value": "youtube",
              "label": "t:sections.all.icon_pack.options__91.label"
            }
          ],
          "default": "none",
          "label": "t:sections.all.icon_pack.label"
        },
        {
          "type": "text",
          "id": "heading_1",
          "default": "Heading",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "richtext",
          "id": "text_1",
          "default": "<p>Description</p>",
          "label": "t:sections.all.text.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.button.header_button.content"
        },
        {
          "type": "checkbox",
          "id": "show_button_1",
          "default": true,
          "label": "t:sections.all.button.button_show.label"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Label",
          "label": "t:sections.all.button.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style_1",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "tertiary",
              "label": "t:sections.all.button.button_style.options__3.label"
            },
            {
              "value": "simple",
              "label": "t:sections.all.button.button_style.options__4.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.all.button.button_style.label"
        },
        {
          "type": "header",
          "content": "t:sections.multicolumn.blocks.column.settings.header__1.content"
        },
        {
          "type": "text",
          "id": "additional_text_1_1",
          "default": "Description",
          "label": "t:sections.multicolumn.blocks.column.settings.additional_text_1.label"
        },
        {
          "type": "text",
          "id": "additional_text_2_1",
          "default": "Description",
          "label": "t:sections.multicolumn.blocks.column.settings.additional_text_2.label"
        },
        {
          "type": "header",
          "content": "t:sections.tabs-with-text.blocks.column_tab.settings.column_header_2.content"
        },
        {
          "type": "checkbox",
          "id": "show_column_2",
          "default": true,
          "label": "t:sections.tabs-with-text.blocks.column_tab.settings.show_column.label"
        },
        {
          "type": "select",
          "id": "icon_2",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.icon_pack.options__1.label"
            },
            {
              "value": "alert",
              "label": "t:sections.all.icon_pack.options__2.label"
            },
            {
              "value": "bag",
              "label": "t:sections.all.icon_pack.options__3.label"
            },
            {
              "value": "bell",
              "label": "t:sections.all.icon_pack.options__4.label"
            },
            {
              "value": "book",
              "label": "t:sections.all.icon_pack.options__5.label"
            },
            {
              "value": "bottle_1",
              "label": "t:sections.all.icon_pack.options__6.label"
            },
            {
              "value": "bottle_2",
              "label": "t:sections.all.icon_pack.options__7.label"
            },
            {
              "value": "box",
              "label": "t:sections.all.icon_pack.options__8.label"
            },
            {
              "value": "brush_1",
              "label": "t:sections.all.icon_pack.options__9.label"
            },
            {
              "value": "brush_2",
              "label": "t:sections.all.icon_pack.options__10.label"
            },
            {
              "value": "calendar",
              "label": "t:sections.all.icon_pack.options__11.label"
            },
            {
              "value": "card",
              "label": "t:sections.all.icon_pack.options__12.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.all.icon_pack.options__13.label"
            },
            {
              "value": "chat_bubble_1",
              "label": "t:sections.all.icon_pack.options__14.label"
            },
            {
              "value": "chat_bubble_2",
              "label": "t:sections.all.icon_pack.options__15.label"
            },
            {
              "value": "chat_bubble_3",
              "label": "t:sections.all.icon_pack.options__16.label"
            },
            {
              "value": "chat_bubble_4",
              "label": "t:sections.all.icon_pack.options__17.label"
            },
            {
              "value": "chat_bubble_5",
              "label": "t:sections.all.icon_pack.options__18.label"
            },
            {
              "value": "check_mark_1",
              "label": "t:sections.all.icon_pack.options__19.label"
            },
            {
              "value": "check_mark_2",
              "label": "t:sections.all.icon_pack.options__20.label"
            },
            {
              "value": "check_mark_3",
              "label": "t:sections.all.icon_pack.options__21.label"
            },
            {
              "value": "clipboard_1",
              "label": "t:sections.all.icon_pack.options__22.label"
            },
            {
              "value": "clipboard_2",
              "label": "t:sections.all.icon_pack.options__23.label"
            },
            {
              "value": "clock",
              "label": "t:sections.all.icon_pack.options__24.label"
            },
            {
              "value": "close",
              "label": "t:sections.all.icon_pack.options__25.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.all.icon_pack.options__26.label"
            },
            {
              "value": "facebook",
              "label": "t:sections.all.icon_pack.options__29.label"
            },
            {
              "value": "file",
              "label": "t:sections.all.icon_pack.options__30.label"
            },
            {
              "value": "filter",
              "label": "t:sections.all.icon_pack.options__31.label"
            },
            {
              "value": "fire",
              "label": "t:sections.all.icon_pack.options__32.label"
            },
            {
              "value": "gift",
              "label": "t:sections.all.icon_pack.options__33.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.all.icon_pack.options__34.label"
            },
            {
              "value": "hand",
              "label": "t:sections.all.icon_pack.options__35.label"
            },
            {
              "value": "hanger",
              "label": "t:sections.all.icon_pack.options__36.label"
            },
            {
              "value": "heart",
              "label": "t:sections.all.icon_pack.options__37.label"
            },
            {
              "value": "home",
              "label": "t:sections.all.icon_pack.options__38.label"
            },
            {
              "value": "instagram",
              "label": "t:sections.all.icon_pack.options__39.label"
            },
            {
              "value": "laptop",
              "label": "t:sections.all.icon_pack.options__40.label"
            },
            {
              "value": "leaf_1",
              "label": "t:sections.all.icon_pack.options__41.label"
            },
            {
              "value": "leaf_2",
              "label": "t:sections.all.icon_pack.options__42.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.all.icon_pack.options__43.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.icon_pack.options__44.label"
            },
            {
              "value": "lock",
              "label": "t:sections.all.icon_pack.options__45.label"
            },
            {
              "value": "logout",
              "label": "t:sections.all.icon_pack.options__46.label"
            },
            {
              "value": "magic",
              "label": "t:sections.all.icon_pack.options__47.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.all.icon_pack.options__48.label"
            },
            {
              "value": "moon",
              "label": "t:sections.all.icon_pack.options__49.label"
            },
            {
              "value": "mute",
              "label": "t:sections.all.icon_pack.options__50.label"
            },
            {
              "value": "notification_box",
              "label": "t:sections.all.icon_pack.options__51.label"
            },
            {
              "value": "pants",
              "label": "t:sections.all.icon_pack.options__52.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.all.icon_pack.options__53.label"
            },
            {
              "value": "paypal",
              "label": "t:sections.all.icon_pack.options__54.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.all.icon_pack.options__55.label"
            },
            {
              "value": "pinterest",
              "label": "t:sections.all.icon_pack.options__56.label"
            },
            {
              "value": "plane",
              "label": "t:sections.all.icon_pack.options__57.label"
            },
            {
              "value": "plant_1",
              "label": "t:sections.all.icon_pack.options__58.label"
            },
            {
              "value": "plant_2",
              "label": "t:sections.all.icon_pack.options__59.label"
            },
            {
              "value": "plant_3",
              "label": "t:sections.all.icon_pack.options__60.label"
            },
            {
              "value": "play",
              "label": "t:sections.all.icon_pack.options__61.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.all.icon_pack.options__62.label"
            },
            {
              "value": "question_mark_1",
              "label": "t:sections.all.icon_pack.options__63.label"
            },
            {
              "value": "question_mark_2",
              "label": "t:sections.all.icon_pack.options__64.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.all.icon_pack.options__65.label"
            },
            {
              "value": "return",
              "label": "t:sections.all.icon_pack.options__66.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.all.icon_pack.options__67.label"
            },
            {
              "value": "search",
              "label": "t:sections.all.icon_pack.options__68.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.all.icon_pack.options__69.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.all.icon_pack.options__70.label"
            },
            {
              "value": "shoe_1",
              "label": "t:sections.all.icon_pack.options__71.label"
            },
            {
              "value": "shoe_2",
              "label": "t:sections.all.icon_pack.options__72.label"
            },
            {
              "value": "shoe_3",
              "label": "t:sections.all.icon_pack.options__73.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.all.icon_pack.options__74.label"
            },
            {
              "value": "snapchat",
              "label": "t:sections.all.icon_pack.options__75.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.all.icon_pack.options__76.label"
            },
            {
              "value": "star",
              "label": "t:sections.all.icon_pack.options__77.label"
            },
            {
              "value": "stopwatch_1",
              "label": "t:sections.all.icon_pack.options__78.label"
            },
            {
              "value": "stopwatch_2",
              "label": "t:sections.all.icon_pack.options__79.label"
            },
            {
              "value": "sun",
              "label": "t:sections.all.icon_pack.options__80.label"
            },
            {
              "value": "tik_tok",
              "label": "t:sections.all.icon_pack.options__81.label"
            },
            {
              "value": "trash",
              "label": "t:sections.all.icon_pack.options__82.label"
            },
            {
              "value": "truck",
              "label": "t:sections.all.icon_pack.options__83.label"
            },
            {
              "value": "tumblr",
              "label": "t:sections.all.icon_pack.options__84.label"
            },
            {
              "value": "twitter",
              "label": "t:sections.all.icon_pack.options__85.label"
            },
            {
              "value": "unmute",
              "label": "t:sections.all.icon_pack.options__86.label"
            },
            {
              "value": "user",
              "label": "t:sections.all.icon_pack.options__87.label"
            },
            {
              "value": "users",
              "label": "t:sections.all.icon_pack.options__88.label"
            },
            {
              "value": "vimeo",
              "label": "t:sections.all.icon_pack.options__89.label"
            },
            {
              "value": "washing",
              "label": "t:sections.all.icon_pack.options__90.label"
            },
            {
              "value": "youtube",
              "label": "t:sections.all.icon_pack.options__91.label"
            }
          ],
          "default": "none",
          "label": "t:sections.all.icon_pack.label"
        },
        {
          "type": "text",
          "id": "heading_2",
          "default": "Heading",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "richtext",
          "id": "text_2",
          "default": "<p>Description</p>",
          "label": "t:sections.all.text.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.button.header_button.content"
        },
        {
          "type": "checkbox",
          "id": "show_button_2",
          "default": true,
          "label": "t:sections.all.button.button_show.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Label",
          "label": "t:sections.all.button.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style_2",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "tertiary",
              "label": "t:sections.all.button.button_style.options__3.label"
            },
            {
              "value": "simple",
              "label": "t:sections.all.button.button_style.options__4.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.all.button.button_style.label"
        },
        {
          "type": "header",
          "content": "t:sections.multicolumn.blocks.column.settings.header__1.content"
        },
        {
          "type": "text",
          "id": "additional_text_1_2",
          "default": "Description",
          "label": "t:sections.multicolumn.blocks.column.settings.additional_text_1.label"
        },
        {
          "type": "text",
          "id": "additional_text_2_2",
          "default": "Description",
          "label": "t:sections.multicolumn.blocks.column.settings.additional_text_2.label"
        },
        {
          "type": "header",
          "content": "t:sections.tabs-with-text.blocks.column_tab.settings.column_header_3.content"
        },
        {
          "type": "checkbox",
          "id": "show_column_3",
          "default": true,
          "label": "t:sections.tabs-with-text.blocks.column_tab.settings.show_column.label"
        },
        {
          "type": "select",
          "id": "icon_3",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.icon_pack.options__1.label"
            },
            {
              "value": "alert",
              "label": "t:sections.all.icon_pack.options__2.label"
            },
            {
              "value": "bag",
              "label": "t:sections.all.icon_pack.options__3.label"
            },
            {
              "value": "bell",
              "label": "t:sections.all.icon_pack.options__4.label"
            },
            {
              "value": "book",
              "label": "t:sections.all.icon_pack.options__5.label"
            },
            {
              "value": "bottle_1",
              "label": "t:sections.all.icon_pack.options__6.label"
            },
            {
              "value": "bottle_2",
              "label": "t:sections.all.icon_pack.options__7.label"
            },
            {
              "value": "box",
              "label": "t:sections.all.icon_pack.options__8.label"
            },
            {
              "value": "brush_1",
              "label": "t:sections.all.icon_pack.options__9.label"
            },
            {
              "value": "brush_2",
              "label": "t:sections.all.icon_pack.options__10.label"
            },
            {
              "value": "calendar",
              "label": "t:sections.all.icon_pack.options__11.label"
            },
            {
              "value": "card",
              "label": "t:sections.all.icon_pack.options__12.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.all.icon_pack.options__13.label"
            },
            {
              "value": "chat_bubble_1",
              "label": "t:sections.all.icon_pack.options__14.label"
            },
            {
              "value": "chat_bubble_2",
              "label": "t:sections.all.icon_pack.options__15.label"
            },
            {
              "value": "chat_bubble_3",
              "label": "t:sections.all.icon_pack.options__16.label"
            },
            {
              "value": "chat_bubble_4",
              "label": "t:sections.all.icon_pack.options__17.label"
            },
            {
              "value": "chat_bubble_5",
              "label": "t:sections.all.icon_pack.options__18.label"
            },
            {
              "value": "check_mark_1",
              "label": "t:sections.all.icon_pack.options__19.label"
            },
            {
              "value": "check_mark_2",
              "label": "t:sections.all.icon_pack.options__20.label"
            },
            {
              "value": "check_mark_3",
              "label": "t:sections.all.icon_pack.options__21.label"
            },
            {
              "value": "clipboard_1",
              "label": "t:sections.all.icon_pack.options__22.label"
            },
            {
              "value": "clipboard_2",
              "label": "t:sections.all.icon_pack.options__23.label"
            },
            {
              "value": "clock",
              "label": "t:sections.all.icon_pack.options__24.label"
            },
            {
              "value": "close",
              "label": "t:sections.all.icon_pack.options__25.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.all.icon_pack.options__26.label"
            },
            {
              "value": "facebook",
              "label": "t:sections.all.icon_pack.options__29.label"
            },
            {
              "value": "file",
              "label": "t:sections.all.icon_pack.options__30.label"
            },
            {
              "value": "filter",
              "label": "t:sections.all.icon_pack.options__31.label"
            },
            {
              "value": "fire",
              "label": "t:sections.all.icon_pack.options__32.label"
            },
            {
              "value": "gift",
              "label": "t:sections.all.icon_pack.options__33.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.all.icon_pack.options__34.label"
            },
            {
              "value": "hand",
              "label": "t:sections.all.icon_pack.options__35.label"
            },
            {
              "value": "hanger",
              "label": "t:sections.all.icon_pack.options__36.label"
            },
            {
              "value": "heart",
              "label": "t:sections.all.icon_pack.options__37.label"
            },
            {
              "value": "home",
              "label": "t:sections.all.icon_pack.options__38.label"
            },
            {
              "value": "instagram",
              "label": "t:sections.all.icon_pack.options__39.label"
            },
            {
              "value": "laptop",
              "label": "t:sections.all.icon_pack.options__40.label"
            },
            {
              "value": "leaf_1",
              "label": "t:sections.all.icon_pack.options__41.label"
            },
            {
              "value": "leaf_2",
              "label": "t:sections.all.icon_pack.options__42.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.all.icon_pack.options__43.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.icon_pack.options__44.label"
            },
            {
              "value": "lock",
              "label": "t:sections.all.icon_pack.options__45.label"
            },
            {
              "value": "logout",
              "label": "t:sections.all.icon_pack.options__46.label"
            },
            {
              "value": "magic",
              "label": "t:sections.all.icon_pack.options__47.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.all.icon_pack.options__48.label"
            },
            {
              "value": "moon",
              "label": "t:sections.all.icon_pack.options__49.label"
            },
            {
              "value": "mute",
              "label": "t:sections.all.icon_pack.options__50.label"
            },
            {
              "value": "notification_box",
              "label": "t:sections.all.icon_pack.options__51.label"
            },
            {
              "value": "pants",
              "label": "t:sections.all.icon_pack.options__52.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.all.icon_pack.options__53.label"
            },
            {
              "value": "paypal",
              "label": "t:sections.all.icon_pack.options__54.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.all.icon_pack.options__55.label"
            },
            {
              "value": "pinterest",
              "label": "t:sections.all.icon_pack.options__56.label"
            },
            {
              "value": "plane",
              "label": "t:sections.all.icon_pack.options__57.label"
            },
            {
              "value": "plant_1",
              "label": "t:sections.all.icon_pack.options__58.label"
            },
            {
              "value": "plant_2",
              "label": "t:sections.all.icon_pack.options__59.label"
            },
            {
              "value": "plant_3",
              "label": "t:sections.all.icon_pack.options__60.label"
            },
            {
              "value": "play",
              "label": "t:sections.all.icon_pack.options__61.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.all.icon_pack.options__62.label"
            },
            {
              "value": "question_mark_1",
              "label": "t:sections.all.icon_pack.options__63.label"
            },
            {
              "value": "question_mark_2",
              "label": "t:sections.all.icon_pack.options__64.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.all.icon_pack.options__65.label"
            },
            {
              "value": "return",
              "label": "t:sections.all.icon_pack.options__66.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.all.icon_pack.options__67.label"
            },
            {
              "value": "search",
              "label": "t:sections.all.icon_pack.options__68.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.all.icon_pack.options__69.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.all.icon_pack.options__70.label"
            },
            {
              "value": "shoe_1",
              "label": "t:sections.all.icon_pack.options__71.label"
            },
            {
              "value": "shoe_2",
              "label": "t:sections.all.icon_pack.options__72.label"
            },
            {
              "value": "shoe_3",
              "label": "t:sections.all.icon_pack.options__73.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.all.icon_pack.options__74.label"
            },
            {
              "value": "snapchat",
              "label": "t:sections.all.icon_pack.options__75.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.all.icon_pack.options__76.label"
            },
            {
              "value": "star",
              "label": "t:sections.all.icon_pack.options__77.label"
            },
            {
              "value": "stopwatch_1",
              "label": "t:sections.all.icon_pack.options__78.label"
            },
            {
              "value": "stopwatch_2",
              "label": "t:sections.all.icon_pack.options__79.label"
            },
            {
              "value": "sun",
              "label": "t:sections.all.icon_pack.options__80.label"
            },
            {
              "value": "tik_tok",
              "label": "t:sections.all.icon_pack.options__81.label"
            },
            {
              "value": "trash",
              "label": "t:sections.all.icon_pack.options__82.label"
            },
            {
              "value": "truck",
              "label": "t:sections.all.icon_pack.options__83.label"
            },
            {
              "value": "tumblr",
              "label": "t:sections.all.icon_pack.options__84.label"
            },
            {
              "value": "twitter",
              "label": "t:sections.all.icon_pack.options__85.label"
            },
            {
              "value": "unmute",
              "label": "t:sections.all.icon_pack.options__86.label"
            },
            {
              "value": "user",
              "label": "t:sections.all.icon_pack.options__87.label"
            },
            {
              "value": "users",
              "label": "t:sections.all.icon_pack.options__88.label"
            },
            {
              "value": "vimeo",
              "label": "t:sections.all.icon_pack.options__89.label"
            },
            {
              "value": "washing",
              "label": "t:sections.all.icon_pack.options__90.label"
            },
            {
              "value": "youtube",
              "label": "t:sections.all.icon_pack.options__91.label"
            }
          ],
          "default": "none",
          "label": "t:sections.all.icon_pack.label"
        },
        {
          "type": "text",
          "id": "heading_3",
          "default": "Heading",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "richtext",
          "id": "text_3",
          "default": "<p>Description</p>",
          "label": "t:sections.all.text.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.button.header_button.content"
        },
        {
          "type": "checkbox",
          "id": "show_button_3",
          "default": true,
          "label": "t:sections.all.button.button_show.label"
        },
        {
          "type": "text",
          "id": "button_label_3",
          "default": "Label",
          "label": "t:sections.all.button.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link_3",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style_3",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "tertiary",
              "label": "t:sections.all.button.button_style.options__3.label"
            },
            {
              "value": "simple",
              "label": "t:sections.all.button.button_style.options__4.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.all.button.button_style.label"
        },
        {
          "type": "header",
          "content": "t:sections.multicolumn.blocks.column.settings.header__1.content"
        },
        {
          "type": "text",
          "id": "additional_text_1_3",
          "default": "Description",
          "label": "t:sections.multicolumn.blocks.column.settings.additional_text_1.label"
        },
        {
          "type": "text",
          "id": "additional_text_2_3",
          "default": "Description",
          "label": "t:sections.multicolumn.blocks.column.settings.additional_text_2.label"
        },
        {
          "type": "header",
          "content": "t:sections.tabs-with-text.blocks.column_tab.settings.column_header_4.content"
        },
        {
          "type": "checkbox",
          "id": "show_column_4",
          "default": true,
          "label": "t:sections.tabs-with-text.blocks.column_tab.settings.show_column.label"
        },
        {
          "type": "select",
          "id": "icon_4",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.icon_pack.options__1.label"
            },
            {
              "value": "alert",
              "label": "t:sections.all.icon_pack.options__2.label"
            },
            {
              "value": "bag",
              "label": "t:sections.all.icon_pack.options__3.label"
            },
            {
              "value": "bell",
              "label": "t:sections.all.icon_pack.options__4.label"
            },
            {
              "value": "book",
              "label": "t:sections.all.icon_pack.options__5.label"
            },
            {
              "value": "bottle_1",
              "label": "t:sections.all.icon_pack.options__6.label"
            },
            {
              "value": "bottle_2",
              "label": "t:sections.all.icon_pack.options__7.label"
            },
            {
              "value": "box",
              "label": "t:sections.all.icon_pack.options__8.label"
            },
            {
              "value": "brush_1",
              "label": "t:sections.all.icon_pack.options__9.label"
            },
            {
              "value": "brush_2",
              "label": "t:sections.all.icon_pack.options__10.label"
            },
            {
              "value": "calendar",
              "label": "t:sections.all.icon_pack.options__11.label"
            },
            {
              "value": "card",
              "label": "t:sections.all.icon_pack.options__12.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.all.icon_pack.options__13.label"
            },
            {
              "value": "chat_bubble_1",
              "label": "t:sections.all.icon_pack.options__14.label"
            },
            {
              "value": "chat_bubble_2",
              "label": "t:sections.all.icon_pack.options__15.label"
            },
            {
              "value": "chat_bubble_3",
              "label": "t:sections.all.icon_pack.options__16.label"
            },
            {
              "value": "chat_bubble_4",
              "label": "t:sections.all.icon_pack.options__17.label"
            },
            {
              "value": "chat_bubble_5",
              "label": "t:sections.all.icon_pack.options__18.label"
            },
            {
              "value": "check_mark_1",
              "label": "t:sections.all.icon_pack.options__19.label"
            },
            {
              "value": "check_mark_2",
              "label": "t:sections.all.icon_pack.options__20.label"
            },
            {
              "value": "check_mark_3",
              "label": "t:sections.all.icon_pack.options__21.label"
            },
            {
              "value": "clipboard_1",
              "label": "t:sections.all.icon_pack.options__22.label"
            },
            {
              "value": "clipboard_2",
              "label": "t:sections.all.icon_pack.options__23.label"
            },
            {
              "value": "clock",
              "label": "t:sections.all.icon_pack.options__24.label"
            },
            {
              "value": "close",
              "label": "t:sections.all.icon_pack.options__25.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.all.icon_pack.options__26.label"
            },
            {
              "value": "facebook",
              "label": "t:sections.all.icon_pack.options__29.label"
            },
            {
              "value": "file",
              "label": "t:sections.all.icon_pack.options__30.label"
            },
            {
              "value": "filter",
              "label": "t:sections.all.icon_pack.options__31.label"
            },
            {
              "value": "fire",
              "label": "t:sections.all.icon_pack.options__32.label"
            },
            {
              "value": "gift",
              "label": "t:sections.all.icon_pack.options__33.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.all.icon_pack.options__34.label"
            },
            {
              "value": "hand",
              "label": "t:sections.all.icon_pack.options__35.label"
            },
            {
              "value": "hanger",
              "label": "t:sections.all.icon_pack.options__36.label"
            },
            {
              "value": "heart",
              "label": "t:sections.all.icon_pack.options__37.label"
            },
            {
              "value": "home",
              "label": "t:sections.all.icon_pack.options__38.label"
            },
            {
              "value": "instagram",
              "label": "t:sections.all.icon_pack.options__39.label"
            },
            {
              "value": "laptop",
              "label": "t:sections.all.icon_pack.options__40.label"
            },
            {
              "value": "leaf_1",
              "label": "t:sections.all.icon_pack.options__41.label"
            },
            {
              "value": "leaf_2",
              "label": "t:sections.all.icon_pack.options__42.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.all.icon_pack.options__43.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.icon_pack.options__44.label"
            },
            {
              "value": "lock",
              "label": "t:sections.all.icon_pack.options__45.label"
            },
            {
              "value": "logout",
              "label": "t:sections.all.icon_pack.options__46.label"
            },
            {
              "value": "magic",
              "label": "t:sections.all.icon_pack.options__47.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.all.icon_pack.options__48.label"
            },
            {
              "value": "moon",
              "label": "t:sections.all.icon_pack.options__49.label"
            },
            {
              "value": "mute",
              "label": "t:sections.all.icon_pack.options__50.label"
            },
            {
              "value": "notification_box",
              "label": "t:sections.all.icon_pack.options__51.label"
            },
            {
              "value": "pants",
              "label": "t:sections.all.icon_pack.options__52.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.all.icon_pack.options__53.label"
            },
            {
              "value": "paypal",
              "label": "t:sections.all.icon_pack.options__54.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.all.icon_pack.options__55.label"
            },
            {
              "value": "pinterest",
              "label": "t:sections.all.icon_pack.options__56.label"
            },
            {
              "value": "plane",
              "label": "t:sections.all.icon_pack.options__57.label"
            },
            {
              "value": "plant_1",
              "label": "t:sections.all.icon_pack.options__58.label"
            },
            {
              "value": "plant_2",
              "label": "t:sections.all.icon_pack.options__59.label"
            },
            {
              "value": "plant_3",
              "label": "t:sections.all.icon_pack.options__60.label"
            },
            {
              "value": "play",
              "label": "t:sections.all.icon_pack.options__61.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.all.icon_pack.options__62.label"
            },
            {
              "value": "question_mark_1",
              "label": "t:sections.all.icon_pack.options__63.label"
            },
            {
              "value": "question_mark_2",
              "label": "t:sections.all.icon_pack.options__64.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.all.icon_pack.options__65.label"
            },
            {
              "value": "return",
              "label": "t:sections.all.icon_pack.options__66.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.all.icon_pack.options__67.label"
            },
            {
              "value": "search",
              "label": "t:sections.all.icon_pack.options__68.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.all.icon_pack.options__69.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.all.icon_pack.options__70.label"
            },
            {
              "value": "shoe_1",
              "label": "t:sections.all.icon_pack.options__71.label"
            },
            {
              "value": "shoe_2",
              "label": "t:sections.all.icon_pack.options__72.label"
            },
            {
              "value": "shoe_3",
              "label": "t:sections.all.icon_pack.options__73.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.all.icon_pack.options__74.label"
            },
            {
              "value": "snapchat",
              "label": "t:sections.all.icon_pack.options__75.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.all.icon_pack.options__76.label"
            },
            {
              "value": "star",
              "label": "t:sections.all.icon_pack.options__77.label"
            },
            {
              "value": "stopwatch_1",
              "label": "t:sections.all.icon_pack.options__78.label"
            },
            {
              "value": "stopwatch_2",
              "label": "t:sections.all.icon_pack.options__79.label"
            },
            {
              "value": "sun",
              "label": "t:sections.all.icon_pack.options__80.label"
            },
            {
              "value": "tik_tok",
              "label": "t:sections.all.icon_pack.options__81.label"
            },
            {
              "value": "trash",
              "label": "t:sections.all.icon_pack.options__82.label"
            },
            {
              "value": "truck",
              "label": "t:sections.all.icon_pack.options__83.label"
            },
            {
              "value": "tumblr",
              "label": "t:sections.all.icon_pack.options__84.label"
            },
            {
              "value": "twitter",
              "label": "t:sections.all.icon_pack.options__85.label"
            },
            {
              "value": "unmute",
              "label": "t:sections.all.icon_pack.options__86.label"
            },
            {
              "value": "user",
              "label": "t:sections.all.icon_pack.options__87.label"
            },
            {
              "value": "users",
              "label": "t:sections.all.icon_pack.options__88.label"
            },
            {
              "value": "vimeo",
              "label": "t:sections.all.icon_pack.options__89.label"
            },
            {
              "value": "washing",
              "label": "t:sections.all.icon_pack.options__90.label"
            },
            {
              "value": "youtube",
              "label": "t:sections.all.icon_pack.options__91.label"
            }
          ],
          "default": "none",
          "label": "t:sections.all.icon_pack.label"
        },
        {
          "type": "text",
          "id": "heading_4",
          "default": "Heading",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "richtext",
          "id": "text_4",
          "default": "<p>Description</p>",
          "label": "t:sections.all.text.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.button.header_button.content"
        },
        {
          "type": "checkbox",
          "id": "show_button_4",
          "default": true,
          "label": "t:sections.all.button.button_show.label"
        },
        {
          "type": "text",
          "id": "button_label_4",
          "default": "Label",
          "label": "t:sections.all.button.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link_4",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style_4",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "tertiary",
              "label": "t:sections.all.button.button_style.options__3.label"
            },
            {
              "value": "simple",
              "label": "t:sections.all.button.button_style.options__4.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.all.button.button_style.label"
        },
        {
          "type": "header",
          "content": "t:sections.multicolumn.blocks.column.settings.header__1.content"
        },
        {
          "type": "text",
          "id": "additional_text_1_4",
          "default": "Description",
          "label": "t:sections.multicolumn.blocks.column.settings.additional_text_1.label"
        },
        {
          "type": "text",
          "id": "additional_text_2_4",
          "default": "Description",
          "label": "t:sections.multicolumn.blocks.column.settings.additional_text_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.tabs-with-text.presets.name",
      "blocks": [
        {
          "type": "text_tab"
        },
        {
          "type": "text_tab"
        },
        {
          "type": "text_tab"
        },
        {
          "type": "text_tab"
        }
      ]
    }
  ]
}
{% endschema %}
